!!!
%html
  %head
    %title etherstarter
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}/
    %script{:src => "javascripts/jquery-2.1.3.min.js"}
    %script{:src => "javascripts/script.js"}

  %body.home

    .header
      .logo
        %img{ src: 'images/logo.png'}

    .content

      .campaign_selector
        Select campaign:
        %select{ id: 'campaigns' }

      .section
        .title
          %h1
            -#Elon Musk for the president of Mars

        .campaign
          .raised
            .value
              %span
                25.000
              wei
            .total
              raised of
              %span
                50.000
              wei
              goal
          .progress
            .bar
              .inner
            .info
              .percent
              .time_left
                -#14 days left
          .recipient_address
            Recipient:
            %span
          .notice
            This campaign will close on
            %span

        .pledge
          .amount
            Amount:
            %input{ type: 'text', name: 'amount', id: 'amount' }
            wei
          %button{ id: 'create_new_campaign'} PLEDGE

        .description
          .title
            Descrption
          .inner

        .image
          -#%img{ src: 'images/elon.png'}


