!!!
%html
  %head
    %title etherstarter
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}/
    %script{:src => "javascripts/jquery-2.1.3.min.js"}
    %script{:src => "javascripts/url.min.js"}
    %script{:src => "javascripts/script.js"}

  %body.home

    .header
      .logo
        %img{ src: 'images/logo.png'}

    .content

      .campaign_header
        .campaign_selector
          Select campaign:
          %select{ id: 'campaigns' }

        -#%a{ href: 'etherstarter_admin.html?create=1' } Create new campaign

      .section
        .title
          %h1

        .campaign
          .raised
            .value
              %span
              wei
            .total
              raised of
              %span
              wei goal
          .progress
            .bar
              .inner
            .info
              .percent
              .time_left

          .recipient_address
            Recipient:
            %span
          .notice
            This campaign will close on
            %span

        .pledge
          .amount
            Amount:
            %input{ type: 'text', name: 'amount', id: 'amount' }
            WEI
          %button PLEDGE

        .description
          .title
            Descrption
          .inner

        .image
          -#%img{ src: 'images/elon.png'}


