body {
  background: #fff url("bg.png") top repeat-x;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  body a {
    color: #42569F; }

.header {
  padding-top: 50px;
  padding-bottom: 10px;
  width: 500px;
  margin: 0 auto; }
  .header .logo {
    margin: 0 auto;
    width: 300px; }
    .header .logo img {
      width: 300px; }

button {
  background-color: #42569F;
  color: white;
  padding: 10px 15px;
  border: 0;
  cursor: pointer;
  font-size: 1em; }
  button:hover {
    background-color: #2f3e72;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

.campaign {
  margin-top: 10px;
  padding: 30px;
  background-color: #F3F3F3; }
  .campaign .raised {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #777; }
    .campaign .raised .value {
      color: #555; }
      .campaign .raised .value span {
        font-size: 2em;
        color: black; }
    .campaign .raised .total {
      margin-top: 5px; }
  .campaign .progress:after {
    content: "";
    display: table;
    clear: both; }
  .campaign .progress .bar {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #999; }
    .campaign .progress .bar .inner {
      height: 40px;
      background-color: #42569F;
      width: 0%; }
  .campaign .progress .info {
    font-weight: bold;
    margin-top: 10px; }
    .campaign .progress .info .percent {
      float: left; }
    .campaign .progress .info .time_left {
      float: right; }
  .campaign .notice, .campaign .recipient_address {
    color: #555;
    margin-top: 20px;
    font-size: 1.2em; }

.content {
  padding-top: 10px;
  width: 608px;
  margin: 0 auto; }
  .content .section {
    border-top: 1px dotted gray;
    padding-top: 20px;
    padding-bottom: 40px; }

body.home .content .campaign_selector {
  margin-top: 20px;
  margin-bottom: 20px; }
  body.home .content .campaign_selector select#campaigns {
    width: 200px;
    height: 20px;
    font-size: 1.5em; }
body.home .content .image {
  margin-top: 20px; }
body.home .content .description {
  margin-top: 20px; }
body.home .content .donate {
  margin-top: 20px;
  padding: 10px;
  background-color: #F3F3F3; }
  body.home .content .donate:after {
    content: "";
    display: table;
    clear: both; }
  body.home .content .donate .amount {
    float: left;
    width: 300px;
    padding-top: 8px; }
    body.home .content .donate .amount input {
      font-size: 1.3em; }
  body.home .content .donate button {
    float: left;
    display: block;
    background-color: #6ea92e;
    width: 280px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold; }
    body.home .content .donate button:hover {
      background-color: #40641a; }
body.home .content .campaign {
  margin-top: 20px; }

body.admin .content #campaigns .title {
  margin-bottom: 40px; }
  body.admin .content #campaigns .title button#create_new_campaign {
    font-size: 0.7em;
    float: right; }
body.admin .content #create_campaign {
  display: none;
  margin-bottom: 45px; }
  body.admin .content #create_campaign .title a {
    float: right;
    font-size: 0.8em;
    padding-top: 3px; }
  body.admin .content #create_campaign form .field {
    margin-top: 10px; }
    body.admin .content #create_campaign form .field:after {
      content: "";
      display: table;
      clear: both; }
    body.admin .content #create_campaign form .field label {
      width: 150px;
      padding-top: 5px;
      display: block;
      float: left; }
    body.admin .content #create_campaign form .field textarea, body.admin .content #create_campaign form .field input {
      width: 450px;
      padding: 5px 2px; }
    body.admin .content #create_campaign form .field input {
      float: left;
      font-size: 1.2em; }
    body.admin .content #create_campaign form .field textarea {
      height: 200px; }
  body.admin .content #create_campaign form .submit {
    margin-top: 10px; }
    body.admin .content #create_campaign form .submit input {
      background-color: #42569F;
      color: white;
      padding: 10px 15px;
      border: 0;
      cursor: pointer;
      float: right;
      font-size: 1.2em; }
      body.admin .content #create_campaign form .submit input:hover {
        background-color: #2f3e72;
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear; }
body.admin .content button#create_campaign {
  background-color: blue; }
